<div class="page-header">
  <div class="toolbar">
    <%= link_to papers_path, class: 'btn btn-default' do %>
        Back
    <% end %>
    <%= link_to @paper, class: 'btn btn-primary' do %>
        Show
    <% end %>
  </div>

  <h1>Editing paper</h1>
</div>

<%= render 'form' %>
